* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(img/tlo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1024px) {
    body {
        height: 100vh;
    }
}


header {
    width: 100%;
    text-align: center;
}


header img {
    width: 90%;
}

@media (min-width: 1024px) {
    header img {
        width: 55%;
    }
}

@media (min-width: 1366px) {
    header img {
        width: 45%;
    }
}

.wallwrap {
    background-color: rgba(255, 0, 0, .4);
    /* background-color: rgba(3, 124, 193, .5); */
    width: 100%;
    width: 360px;
    min-width: 360px;
    max-width: 360px;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 1fr 1fr 1fr 1fr 1fr 100px 15px;
    gap: 0px 0px;
    border: 1px solid black;
    border-radius: 1%;
}

@media (min-width: 640px) {
    .wallwrap {
        padding: 10px;
        width: 640px;
        max-width: 640px;
        min-width: 640px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 120px 1fr 1fr 1fr 100px 15px;
        grid-template-areas:
            "header header"
            "wrap1 wrap2"
            "wrap3 wrap4"
            "wrap5 wrap6"
            "footer footer"
            "created created";
    }

    header {
        grid-area: header;
    }

    .wrap:nth-of-type(1) {
        grid-area: wrap1;
    }

    .wrap:nth-of-type(2) {
        grid-area: wrap2;
    }

    .wrap:nth-of-type(3) {
        grid-area: wrap3;
    }

    .wrap:nth-of-type(4) {
        grid-area: wrap4;
    }

    .wrap:nth-of-type(5) {
        grid-area: wrap5;
    }

    .wrap:nth-of-type(6) {
        grid-area: wrap6;
    }

    footer {
        grid-area: footer;
    }

    .created {
        grid-area: created;
    }

}

@media (min-width: 1024px) {
    .wallwrap {
        width: 1024px;
        max-width: 1024px;
        min-width: 1024px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 120px 1fr 1fr 100px 15px;
        grid-template-areas:
            "header header header"
            "wrap1 wrap2 wrap3"
            "wrap4 wrap5 wrap6"
            "footer footer footer"
            "created created created";
    }
}

@media (min-width: 1366px) {
    .wallwrap {
        width: 1366px;
        max-width: 1366px;
        min-width: 1366px;
        /* height: 740px; */
        /* min-height: 768px;
        max-height: 768px; */
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 130px 1fr 1fr 120px 15px;
        grid-template-areas:
            "header header header"
            "wrap1 wrap2 wrap3"
            "wrap4 wrap5 wrap6"
            "footer footer footer"
            "created created created";
    }
}


.wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px;
    align-content: space-around;
}

@media (min-width: 640px) {
    .wrap {
        padding: 0;
        margin-bottom: 15px;
    }
}

.big,
.medium,
.small {
    background-color: #fff;
    border-radius: 6%;
    padding: 5px;
    transition: .6s;
}

.big img,
.medium img,
.small img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.big a,
.medium a,
.small a {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.big {
    --width: 150px;
    width: var(--width);
    height: calc(var(--width) * 214 / 416);
    margin: 5px;
}

@media (min-width: 640px) {
    .big {
        --width: 140px;
        margin: 0;
        margin-bottom: 5px;
    }
}

@media (min-width: 1024px) {
    .big {
        --width: 150px;
    }
}

@media (min-width: 1366px) {
    .big {
        --width: 200px;
    }
}

.medium {
    --width: 90px;
    width: var(--width);
    height: calc(var(--width) * 141 / 278);
    margin: 5px;
}

@media (min-width: 640px) {
    .medium {
        --width: 90px;
    }
}

@media (min-width: 1024px) {
    .medium {
        --width: 95px;
    }
}

@media (min-width: 1366px) {
    .medium {
        --width: 125px;
    }
}

.small {
    --width: 70px;
    width: var(--width);
    height: calc(var(--width) * 105 / 205);
    margin: 5px;
}

@media (min-width: 640px) {
    .small {
        --width: 65px;
    }
}

@media (min-width: 1024px) {
    .small {
        --width: 70px;
    }
}

@media (min-width: 1366px) {
    .small {
        --width: 90px;
    }
}


footer {
    display: flex;
    margin-bottom: 5px;
}

.footer {
    width: 100%;
    display: flex;
    position: relative;
}

.player1,
.player2 {
    width: 15%;
    height: 100%;
}


.player1 img,
.player2 img {
    position: absolute;
    top: 0;
    height: 100%;
}

.player2 img {
    right: 0;
    transform: rotateY(180deg);
}

.ball img {
    position: absolute;
    top: calc(100% - 22px);
    left: 60px;
    height: 22px;
    width: auto;
    animation: move 1s linear infinite alternate;
}

@media (min-width: 1024px) {
    .ball img {
        animation: move 1.5s linear infinite alternate;
    }
}

@media (min-width: 1366px) {
    .ball img {
        top: calc(100% - 26px);
        left: 80px;
        height: 26px;
    }
}

/* footer div {
    border: 1px solid blue;
} */

.www {
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #00315D;
    box-shadow: 2px 8px 8px 0px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    align-items: center;
}

@media (min-width: 640px) {
    .www {
        align-items: flex-start;
        width: 50%;
        line-height: 40px;
    }
}

.www p a {
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    height: 60px;
}

@media (min-width: 640px) {
    .www p a {
        font-size: 2rem;
        letter-spacing: 3px;
    }
}

.www p a:hover {
    color: yellowgreen;
}

.created {
    text-align: right;
    color: white;
    margin-bottom: 5px;
}

.created p {
    font-size: 1.4rem;
    padding: 5px;
}

.created p a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 5px;
}

.created p a:hover {
    color: yellowgreen;
}


.coop {
    display: none
}

@media (min-width: 1024px) {
    .coop {
        display: block;
        position: absolute;
        top: 45%;
        text-transform: uppercase;
        color: #ddd;
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 2px;
        text-shadow: 2px 2px rgb(85, 84, 84);
    }
}

@media (min-width: 1366px) {
    .coop {
        top: 40%;
        font-size: 2.8rem;
    }
}

@keyframes move {
    100% {
        left: 80%;
        transform: rotate(600deg);
    }
}

@media (min-width: 640px) {
    @keyframes move {
        100% {
            left: 88%;
            transform: rotate(600deg);
        }
    }
}

@media (min-width: 1024px) {
    @keyframes move {
        100% {
            left: 92%;
            transform: rotate(600deg);
        }
    }
}

@media (min-width: 1366px) {
    @keyframes move {
        100% {
            left: 92%;
            transform: rotate(600deg);
        }
    }

    .big:hover,
    .medium:hover,
    .small:hover {
        transform: scale(2);
        border: 1px solid black;
    }
}